.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}
.cartItem > * {
  flex: 1;
}
.cartItemDetails {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.removeBtn {
  color: #ff523b;
  cursor: pointer;
}
.priceContainer {
  text-align: right;
}
.amountContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
.amountContainer span {
  color: #ff523b;
}
@media screen and (max-width: 800px) {
  .cartItemDetails {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
